body {
	background-color: #111;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

p {
	font-size: 1rem;
	font-optical-sizing: auto;
	font-weight: 700;
	font-family: "Fira Code", monospace;
	padding: 0;
	margin: 0;
	color: hsl(25, 70%, 40%);
	text-transform: uppercase;
}

#poster {
	opacity: 0;
	transition: 1s;
}

.showposter {
	opacity: 1 !important;
}

.highlight {
	color: #eee;
}

.divider {
	margin: 0.5rem 0rem;
	border: 0.1rem solid #eee;
}

span {
	display: block;
	line-height: 0.9em;
}

/* Overlay */
.wrapper {
	width: 700px;
	position: relative;
	margin: auto;
}

.bat-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	pointer-events: none;
}

svg {
	width: 100%;
}

.shadow {
	-webkit-filter: blur(6px);
	filter: blur(6px);
	opacity: 0.5;
}

.bat {
	animation-direction: normal;
	animation: move 15s infinite;
	animation-timing-function: ease-in-out;
	transform-origin: 50% 50%;
}

.wing {
	transform-origin: 50% 50%;
	animation-direction: normal;
	animation: wing 1s infinite;
	animation-timing-function: ease-in-out;
}

.wing1 {
	transform-origin: 50% 50%;
	animation-direction: normal;
	animation: wing1 1s infinite;
	animation-timing-function: ease-in-out;
}

@keyframes move {
	0% {
		transform: translate(0px, -150px) rotate(10deg);
	}
	25% {
		transform: translate(-100px, 80px) rotate(-10deg);
	}
	50% {
		transform: translate(100px, -80px) rotate(10deg);
	}
	75% {
		transform: translate(-140px, -100px) rotate(-10deg);
	}

	100% {
		transform: translate(0px, -150px) rotate(10deg);
	}
}

@keyframes wing {
	0% {
		transform: translate(0px, 0px) scale(1) rotate(0deg);
	}
	50% {
		transform: translate(0px, 0px) scaleX(0.5) rotate(-25deg);
	}
	100% {
		transform: translate(0px, 0px) scale(1) rotate(0deg);
	}
}

@keyframes wing1 {
	0% {
		transform: translate(0px, 0px) scale(1) rotate(0deg);
	}
	50% {
		transform: translate(0px, 0px) scaleX(0.5) rotate(25deg);
	}
	100% {
		transform: translate(0px, 0px) scale(1) rotate(0deg);
	}
}

/* Mobile*/
@media screen and (max-width: 600px) {
	.wrapper {
		width: 100% !important;
	}
}